* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
background-color: whitesmoke;
}

.nav-bar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0 30px;
    box-shadow: 0px 0px 10px gray;
}

.name {
    color: black;
    font-size: 35px;
    font-weight: bold;
    padding: 15px;
}

.nav-bar a {
    margin: 20px;
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.nav-bar a:hover {
    color: white;
}

h1 {
    padding: 20px;
    color: gray;
}

.subtitle {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

header p {
    font-size: 25px;
    margin-top: 10px;
}


figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
}

/* First Box. About Me section. */
.about-me-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 15px gray;
}

.about-me-title {
    padding: 15px;
    text-align: center;
    font-size: 20px;

}

.about-me-content {
    padding: 15px;
    margin: 20px;
    text-align: center;
}

.about-me-content p {
    font-size: 18px;
    line-height: 1.5;
}

/* Second box. Projects section */
.projects-box{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 15px gray;
}

.projects-title {
    padding: 15px;
    text-align: center;
    font-size: 20px;
}

.projects-content{
    padding: 15px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project{
    width: 400px;
    height: 400px;
    background-color: gray;
    border-radius: 50px;
}

.project a {
    text-decoration: none;
    font-size: large;
    position: relative;
    top: 360px;
    left: 140px;
    color: black;
}

.project img {
    height: 380px;
    width: 380px;
    position: relative;
    bottom: 380px;
    right: 130px;
}

.project img:hover {
    filter: blur(3px);
}

.coming-soon {
    width: 300px;
    height: 300px;
    background-color: gray;
    border-radius: 50px;
    margin-left: 100px;
}

.coming-soon a {
    text-decoration: none;
    font-size: large;
    position: relative;
    top: 260px;
    left: 105px;
    color: black;
}

.coming-soon img {
    height: 200px;
    width: 200px;
    position: relative;
    bottom: 245px;
    left: -45px;
}

.coming-soon img:hover {
    filter: blur(3px);
}

/* Third box. Contact Me section. */
.contact-me-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 15px gray;
}

.contact-me-title {
    padding: 15px;
    text-align: center;
    font-size: 20px;
    margin-left: 15px;
}

.contact-me-content a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 160px;
}

footer h3 {
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
}